/* Header.css */

.container {

  align-items: center;
  justify-content: center;
  height: 10vh; /* This will center the content vertically within the viewport */
  background-color: #ffffff; /* Optional: background color for the container */
}

.heading {
  font-size: 35px;
  font-weight: bold; /* Optional: makes the heading bold */
  color: #000000; /* Optional: color for the heading text */
  text-align: center; /* Center the heading text */
}
